@font-face {
    src: url(../fonts/VarelaRound-Regular.ttf);
    font-family: Varela Round;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(80, 80, 80), rgb(70, 70, 70));
    padding-top: 10px;
    font-family: Varela Round, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: hsl(200, 50%, 50%);
}

.cord {
    width: 100%;
    height: 5px;
    background: rgb(120, 120, 120);
}
